// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	font-size:    48px;
	color:        purple;
	font-weight:  bold; 
	text-align:   center;
}

p {
	font-size:    48px;
	margin:  150px;
	color:        white;
	font-weight:  bold; 
	text-align:   center;
}

p1 {
    margin: 50px;
	font-size:    24px;
	color:        purple;
	font-weight:  bold; 
	text-align:   center;
}

h1 {
	display:  block;
	padding: 20px;
	margin:  50px;
	border: 3px white solid;
	}

p :hover {
	cursor: pointer;
	background: rgba(205,100,100,0.4);
}




body {
	
color: white;
background: grey;
font-family: Helvetica;
max-width: 500px;
margin-right: auto;
margin-left: auto;
text-align: center;

}